$bgColor: #1d1d22;
$bgLightColor: #2b2b39;
$offWhite: #eaeefc;
$subduedColor: #636384;
$mobile: "only screen and (max-width: 600px)";
$desktop: "only screen and (min-width: 600px)";
$errorRed: #f18e8e;
$brandOrange: #f0c349;
$appWidth: 1024px;
$todoMinHeight: 36px;
$topBarHeight: 55px;
$bottomBarHeight: 52px;
$todoListBottomMargin: 40px;
